@media (min-width: 500 px) {
    #body {
        background-color: rgb(149, 158, 155);
        width: auto;
        height: 100%;
        padding: 20px;
        margin: 1em;
    }
}

#header {
    background-color: lightskyblue;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 1em;
    position: static;
}

#headerimage {
    width: auto;
    position: center;
}

#menu-icon {
    background-color: lavender;
}

#menu {
    padding: 2em;
    margin: 1em;
    position: static;
}

.baricon {
    width: auto;
    height: auto;
    padding: 2em;
    margin: 2em;
}

.barlogin {
    float: right;
    padding: 2em;
    margin: 1em;
}

#footer {
    background-color: lightsteelblue;
    width: auto;
    height: auto;
    padding: 20px;
    margin: 1em;
}

#footercopy {
    text-align: right;
    text-shadow: azure;
    font: bold;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

li {
    background: cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    position: relative;
    width: 30%;
}