{% extends 'base.html' %}{% load static %} {% block content %}
<div id="container">
    <h3>How To Use PYPLAS</h3>
    <p>PYPLAS is used to test programming skill.
        <br>So, this system is used by teacher and students.</p><br>
    <div align="center">
        <img src="{% static 'images/pyplas.png' %}" width="50%" height="auto">
    </div>
    <dt>Teacher<br>
    <dd>
        Teachers use PYPLAS to test student's programming skill.
        <br> Firstly, teachers write or copy program code from textbook and other python code.
        <br>In PYPLAS,teachers choose python code for question.
        <br>Teacher press the question button to give question program code automatically.
        <br>Then, this questions save in database automatically.
        <br>Teacher edit or delete question.
        <br>Teacher look the result of student answers.
    </dd></dt><br>
    <div align="center">
        <img src="{% static 'images/teacher.jpg' %}" width="50%" height="auto">
    </div>
    <dt>Students<br>
    <dd>
        Students use PYPLAS to test student's programming skill.
        <br> Firstly, students look the questions program and write a correct answers.
        <br>After students had answered one question program then they press the 'submit' button.
        <br>So, students look their result and reanswer the questions program until they get correct answers.
        <br>Then, students press the 'save' button to save the answers code in database and
        <br> to test the student programming skill automatically.
    </dd>
</dt>
</div>
{% endblock %}