{% extends 'base.html' %}{% load static %} {% block content %}
<div id="container">
    <div align="center">
       <img src="{% static 'images/ytu1.jpg' %}" width="70%" height="40%">       

    </div>
    <p>
        <h1>PYPLAS SYSTEM</h1>
        <br> This system is used to test the python programming skill.
        <br> Python program is used in research fields such as
        <br>networks,image processing, data mining and IOT and so on.
        <br>Students learn python program for their projects and researchs.
        <br>In University, teacher teachs their students but they do not test programming
        <br>skill of their students . So, PYPLAS is created to test students programming skill.
        <br>In this system, teachers easiy make question program and answer automatically
        <br> by using PYPLAS.
    </p>
    <div align="center">
        <img src="{% static 'images/pyplas.png' %}" width="70%" height="40%">
    </div>
    
</div>

{% endblock %}